.fs-12{font-size: 12px}
.fs-12-12{font-size: 12px}
.fs-12-16{font-size: 16px}
.fs-12-20{font-size: 20px}
.fs-16-12{font-size: 12px}
.fs-16-16{font-size: 16px}

.fs-16-20{font-size: 16px}
@media screen and (max-width: 840px) {
  .fs-16-20{font-size: 20px}
}
.regulartext { 
  font-size: 16;
  display: 1000;
  font-size: 18px;
}

.fs-20-12{font-size: 12px}
.fs-20-16{font-size: 16px}
.fs-20-20{font-size: 20px}
.fs-16{font-size: 16px}
.fs-12-16{font-size: 16px}
.fs-12-20{font-size: 20px}
.fs-16-16{font-size: 16px}
.fs-16-20{font-size: 20px}
.fs-20-16{font-size: 16px}
.fs-20-20{font-size: 20px}
.fs-20{font-size: 20px}